[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
django-jazzmin = "*"
django-adminlte-3 = "*"
dj-database-url = "*"
gunicorn = "*"
dj-static = "*"

[dev-packages]

[requires]
python_version = "3.9"
